body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: "Raleway", sans-serif;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 1.8rem;
  color: #673ab7;
  margin-bottom: 1.5rem;
}

.g_id_signin {
  margin-top: 1rem;
}

.add_spacing {
  padding-top: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #673ab7;
  border-color: #673ab7;
  color: white;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #5e35b1;
  border-color: #5e35b1;
}

.continue-link {
  color: #673ab7;
  text-decoration: none;
}

.continue-link:hover {
  text-decoration: underline;
}
