{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>My Assignments</h1>

    <!-- Add Assignment Button -->
    {% if user.is_authenticated and user.profile.role == 'user' %}
    <button
        class="btn btn-primary mb-3"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addAssignmentModal"
    >
        Add Assignment
    </button>
    {% endif %}

    {%if assignments %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="mb-0">In Progress Assignments</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive scrollable-card-content">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Due Date</th>
                            <th>Course</th>
                            <th>Assignment</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in assignments|dictsort:"due_date" %}
                        <tr data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{ assignment.description }}"
                            style="cursor: pointer"
                            onclick=window.location="{% url 'assignments:edit_assignment' assignment.id %}">
                            <td>{{ assignment.due_date|date:"M d, Y" }}</td>
                            <td>{{ assignment.course.full_name }}</td>
                            <td>{{ assignment.title }}</td>
                            <td class="text-center">
                                <form action="{% url 'assignments:toggle_complete' assignment.id %}" method="post" style="margin:0" onclick="event.stopPropagation()">
                                    {% csrf_token %}
                                    <input 
                                        type="checkbox" 
                                        onChange="this.form.submit()"
                                        {% if assignment in user.profile.completed_assignments.all %}checked{% endif %}
                                    >
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="button" data-bs-toggle="collapse" data-bs-target="#completedAssignments" aria-expanded="false">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Completed Assignments</h3>
                <span class="chevron">▼</span>
            </div>
        </div>
        <div id="completedAssignments" class="collapse">
            <div class="card-body p-0">
                <div class="table-responsive scrollable-card-content">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Due Date</th>
                                <th>Course</th>
                                <th>Assignment</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in user.profile.completed_assignments.all|dictsort:"due_date" %}
                            <tr data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{ assignment.description }}"
                            style="cursor: pointer"
                            onclick=window.location="{% url 'assignments:edit_assignment' assignment.id %}">
                            <td>{{ assignment.due_date|date:"M d, Y" }}</td>
                            <td>{{ assignment.course.full_name }}</td>
                            <td>{{ assignment.title }}</td>
                            <td class="text-center">
                                <form action="{% url 'assignments:toggle_complete' assignment.id %}" method="post" style="margin:0" onclick="event.stopPropagation()">
                                    {% csrf_token %}
                                        <input 
                                            type="checkbox" 
                                            onChange="this.form.submit()"
                                            checked
                                        >
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    {% endif %}

    


<!-- Add Assignment Modal -->
{% if user.is_authenticated and user.profile.role == 'user' %}
<div class="modal" id="addAssignmentModal" tabindex="-1" aria-labelledby="addAssignmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addAssignmentModalLabel">New Assignment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body with Form -->
            <div class="modal-body">
                <form action="{% url 'assignments:add_assignment' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="due_date" class="form-label">Due Date</label>
                        <input type="date" 
                               class="form-control" 
                               id="due_date" 
                               name="due_date" 
                               required />
                        <div id="due_date_error" class="text-danger" style="display: none;">
                            Please enter a valid date that is after today with a 4-digit year.
                        </div>
                    </div>
                                      
                                                                                                                 
                    <div class="mb-3">
                        <label for="course" class="form-label">Course</label>
                        <select class="form-control" id="course" name="course" required>
                            {% for course in user.profile.courses.all %}
                                <option value="{{ course.id }}">{{ course.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="file_upload" class="form-label">Upload File</label>
                        <input type="file" class="form-control" id="file_upload" name="file_upload" />
                    </div>

                    <!-- File Meta Data Section -->
                    <div class="mb-3">
                        <div class="d-flex align-items-center mb-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="toggleMetaDataSection()">
                                <span id="keywordsToggleIcon">Add File Meta Data ▼</span>
                            </button>
                        </div>
                        <div id="metadataContainer" style="display: none;">
                            <div class="mb-2">
                                <input type="text" class="form-control" id="file_title" name="file-title" placeholder="File Title" />
                            </div>
                            <div class="mb-2">
                                <textarea class="form-control" id="file_description" name="file-description" rows="2" placeholder="File Description"></textarea>
                            </div>
                            <div class="tags-input-container d-flex">
                                <input type="text" class="form-control me-2" id="keywords-input" placeholder="Add Keyword" />
                                <button type="button" class="btn btn-sm btn-primary" onclick="addTag()">Add</button>
                            </div>
                            <div id="tagsDisplay" class="tags-display"><strong>Keywords: </strong></div>
                            <input type="hidden" name="keywords" id="keywords" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<style>
.keywords {
    margin-top: 10px;
}

.keyword-tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    font-size: 0.85em;
}

.badge {
    font-size: 0.9em;
    padding: 8px 12px;
}

.list-group-item {
    margin-bottom: 10px;
}

.list-group-item > div:last-child {
    margin-top: 15px;
}

.card-header[role="button"] {
    cursor: pointer;
}

.chevron {
    font-size: 1.2em;
    transition: transform 0.3s ease;
    display: inline-block;
}

/* This will rotate the chevron when the collapse is open */
#completedAssignments.show + .card-header .chevron {
    transform: rotate(180deg);
}

.scrollable-card-content {
    max-height: 400px; /* approximately 10 rows */
    overflow-y: auto;
}

/* Optional: Style the scrollbar for webkit browsers */
.scrollable-card-content::-webkit-scrollbar {
    width: 8px;
}

.scrollable-card-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-card-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.scrollable-card-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
</style>

{% endblock %}

{% block scripts %}
<script>
    // ensuring valid due date
    document.addEventListener('DOMContentLoaded', () => {
        const dueDateInput = document.getElementById('due_date');
        const errorDiv = document.getElementById('due_date_error');

        // Set today's date
        const today = new Date();
        today.setHours(0, 0, 0, 0);
        function isValidDate(dateString) {
            const dateRegex = /^\d{4}-\d{2}-\d{2}$/;
            if (!dateRegex.test(dateString)) return false;

            const [year, month, day] = dateString.split('-');
            if (year.length !== 4) return false; // year must be exactly 4 digits

            const date = new Date(dateString);
            return !isNaN(date.getTime()); 
        }

        // validate the date on input
        dueDateInput.addEventListener('input', () => {
            const inputValue = dueDateInput.value; 
            const inputDate = new Date(inputValue); 

            // Check if the date is valid, has a 4-digit year, and is after today
            if (!isValidDate(inputValue) || inputDate <= today) {
                errorDiv.style.display = 'block'; //error message
                dueDateInput.setCustomValidity('Please enter a valid date'); // prevent form submission
            } else {
                errorDiv.style.display = 'none'; 
                dueDateInput.setCustomValidity(''); 
            }
        });
    });



    // Initialize tooltips; needed to view assignment description on hover
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    document.getElementById('addAssignmentModal').addEventListener('hidden.bs.modal', function () {
        window.location.reload();
    });

    function addTag() {
        const input = document.getElementById("keywords-input");
        const tagsDisplay = document.getElementById("tagsDisplay");
        const hiddenInput = document.getElementById("keywords");

        let tag = input.value.trim();
        if (tag) {
            const tagElement = document.createElement("span");
            tagElement.className = "tag";
            tagElement.textContent = tag;

            const deleteButton = document.createElement("span");
            deleteButton.className = "tag-delete";
            deleteButton.textContent = "×";
            deleteButton.onclick = function () {
                tagsDisplay.removeChild(tagElement);
                updateHiddenInput();
            };

            tagElement.appendChild(deleteButton);
            tagsDisplay.appendChild(tagElement);

            input.value = "";
            updateHiddenInput();
        }
    }

    function updateHiddenInput() {
        const tagsDisplay = document.getElementById("tagsDisplay");
        const hiddenInput = document.getElementById("keywords");

        let tags = Array.from(tagsDisplay.getElementsByClassName("tag")).map(
            (tag) => tag.textContent.replace("×", "").trim()
        );

        hiddenInput.value = tags.join(",");
    }

    function toggleMetaDataSection() {
        const metadataContainer = document.getElementById("metadataContainer");
        const keywordsToggleIcon = document.getElementById("keywordsToggleIcon");

        if (metadataContainer.style.display === "none") {
            metadataContainer.style.display = "block";
            keywordsToggleIcon.textContent = "Add File Meta Data ▲";
        } else {
            metadataContainer.style.display = "none";
            keywordsToggleIcon.textContent = "Add File Meta Data ▼";
        }
    }

    //collapse arrow rotation
    document.addEventListener('DOMContentLoaded', function() {
        const completedSection = document.getElementById('completedAssignments');
        const chevron = document.querySelector('.chevron');
        
        completedSection.addEventListener('show.bs.collapse', function () {
            chevron.style.transform = 'rotate(180deg)';
        });
        
        completedSection.addEventListener('hide.bs.collapse', function () {
            chevron.style.transform = 'rotate(0deg)';
        });
    });
</script>
{% endblock %}