<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <style>

    </style>
</head>
<body>

<div class="container">
    {% if request.session.user_data %}
    <div>
        <p>Email: {{ request.session.user_data.email }}</p>
        <img src="{{ request.session.user_data.picture }}" alt="User picture">
        <a href="/sign-out">Sign out</a>
    </div>
    {% else %}
        <div>
            <div id="g_id_onload"
            data-client_id="505473501624-kiq9ug3aosfmrfe46kkio67fud3cblnv.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://127.0.0.1:8000/auth-receiver"
            data-itp_support="true">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left">
        </div>
    </div>
    {% endif %}
</div>

</body>
</html>

