<!-- templates/myapp/assignment_list.html -->
{% extends 'myapp/base.html' %} 

{% block content %}
<div class="container mt-5">
  <h1>Calender</h1>

  <body>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&src=YzliYzI4OGI1NGRkZTIzYjYxYzFkM2VhODQ5MzFhNmEyMDExMmU2ZWVkYzYyOTJkODYxMTI0ZTU3YTQ3Nzk5YUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23E67C73&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </body>
</div>

<style>
</style>
{% endblock %}